html{
    background-position: no-repeat;
    background-position: center center;
    height: 1000px;
    background-color:  rgba(240, 231, 200, 0.797);
    background-size: cover;
}
body{
    color: rgb(7, 174, 146);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    min-height: 100%;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    background:#06181b;
    width: 100%;
    text-align: center;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 30px;
    display: block;
}

.menu li a:hover{
    background: #ef8354;
}

img{
    width: 400px;
    height: 400px;
}
