*{
    margin: 0;
    padding: 0;
}

html{
    background-image: url(https://www.teahub.io/photos/full/245-2453892_fondos-de-ciudades-de-noche-hd.jpg);
    background-position: no-repeat;
    background-position: center center;
    height: 1000px;
    background-color: rgba(128, 128, 128, 0.906);
    
    background-size: cover;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    min-height: 100%;
}

.titulo{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
color: brown;
text-shadow: 0px 0px 9px rgb(98, 93, 93);
}

.menu{
    width: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}
ul{
    list-style: none;
}
.lista > li{
    float: left;
    padding: 60px 40px;
}
.lista li a{
    background-color: rgba(41, 200, 200, 0.811);
    color: rgb(20, 22, 21);
    text-decoration: none;
    padding: 10px 12px;
    display: block;
    
}

.lista li a:hover{
    background-color: rgb(213, 229, 238);
}
.lista li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.lista li:hover>ul{
    display: block;
}
.lista li ul li{
    position: relative;
}

.fotos h1{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.turismo{
    display:flex; 
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    
}

.fotos h1{
color: rgb(224, 23, 23);
}

.zona img{
width: 500px;
height: auto;
padding: 30px;
}
.zona img:hover{
    transform: rotate(-3deg);
}
.zona h4{
    color: rgb(55, 116, 230);
    text-align: center;
    padding: 10px;
    background-color: rgba(22, 22, 22, 0.832);
}

.pie img{
    width: 30px;
    height: 30px;
}

.pie{
    font-family: Arial, Helvetica, sans-serif;
background-color: rgba(0, 0, 0, 0.778);
text-align: center;
color: rgb(27, 103, 8);
font-size: 10px;
}

.bandera img {
    display: block;
    margin: 0;
    padding: 0px 500px 0px;
    width: 800px;
    height: 500px;
    
}
.bandera img:hover{
    transform: rotate(-3deg);
}

.historia {
    color: rgb(58, 158, 245);
    background-color: rgba(0, 0, 0, 0.838);
    margin: 0;
}
.titu{
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.717);
    padding: 20px;
}


