*{
    padding: 0;
    margin: 0;
}

html{
    background-image: url(https://cdn.create.vista.com/api/media/medium/461201900/stock-photo-minimalistic-dark-blue-polygonal-background?token=);
    background-position: no-repeat;
    background-position: center center;
    height: 1000px;
    background-size: cover;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    min-height: 100%;
    text-align: center;
    justify-content: center;
    color: rgb(248, 236, 172);

}

.avatar img{
    width: 300px;
}

header{
    text-align: center;
    color: rgb(243, 243, 243);
    font-family: "Segoe IU", sans-serif;
    font-size: 60px;
}

.bienvenido{
    text-align: center;
    color: rgb(69, 142, 216);
    font-family: "Segoe IU", sans-serif;
    font-size: 40px;
    justify-content: left;
}

.texto{
    text-align: center;
    color: rgb(69, 142, 216);
    font-family: "Segoe IU", sans-serif;
    font-size: 30px;
}

h4{
    color: rgb(235, 223, 223);
    font-size: 40px;
}

.iniciar{
    color: rgb(236, 224, 224);
    font-size: 40px;
}

hr{
    width:700px;
      
    
}
