*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    min-height: 100%;
    background-color: rgba(240, 231, 200, 0.797);
    color: #0ea1bb;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    background:#06161b;
    width: 100%;
    text-align: center;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 30px;
    display: block;
}

.menu li a:hover{
    background: #ef8354;
}